---
import NavLink from "./NavLink.astro";

const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/programs", text: "Programs" },
];
---

<nav class="bg-blue-950">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-start">
        <!-- Logo on the left -->
        <div class="flex flex-shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"
          />
        </div>
      </div>
      <!-- Navbar links on the right for desktop -->
      <div class="hidden sm:flex sm:space-x-8 sm:ml-auto">
        {links.map((link) => <NavLink href={link.href} text={link.text} />)}
      </div>
      <!-- Mobile menu button on the right -->
      <div class="sm:hidden flex items-center justify-end">
        <button
          id="mobile-menu-button"
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, overlay on the right -->
  <div
    id="mobile-menu"
    class="fixed inset-y-0 right-0 hidden w-full max-w-sm px-6 bg-blue-950 text-white shadow-lg z-50 sm:hidden"
  >
    <div class="flex items-center justify-between py-4">
      <img
        class="h-8 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
        alt="Your Company"
      />
      <button
        id="mobile-menu-close"
        type="button"
        class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
      >
        <span class="sr-only">Close main menu</span>
        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div class="flex flex-col space-y-3 pt-4">
      {links.map((link) => <NavLink href={link.href} text={link.text} />)}
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const openButton = document.getElementById("mobile-menu-button");
    const closeButton = document.getElementById("mobile-menu-close");
    const mobileMenu = document.getElementById("mobile-menu");

    if (openButton && closeButton && mobileMenu) {
      openButton.addEventListener("click", () => {
        mobileMenu.classList.remove("hidden");
        document.body.classList.add("overflow-hidden");
      });
      closeButton.addEventListener("click", () => {
        mobileMenu.classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
      });
    }
  });
</script>
