---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Home">
	<h1 class="text-mantis-600">Heading 1</h1>
	<h2 class="text-mantis-600">Heading 2</h2>
	<h3 class="text-mantis-600">Heading 3</h3>
	<h4 class="text-mantis-600">Heading 4</h4>
	<h5 class="text-mantis-600">Heading 5</h5>
	<h6 class="text-mantis-600">Heading 6</h6>
</BaseLayout>
